@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Playwrite+AU+QLD:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
:root{
    --fonte1:"Changa One", sans-serif; /*cabeçalho*/
    --fonte2: "Playwrite AU QLD", cursive; /*corpo*/
    --fonte3:"Special Gothic Expanded One", sans-serif; /*padrão*/
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte3);
    font-style: normal;
    font-weight: lighter;
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    
    
}
header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase; 
    Para mudar a letra, maiuscula, minuscula ou captalizada*/
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
   
}
header a, footer a{
     color: white;
     text-decoration: none;
     font-weight: bolder;
      
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-weight: bolder;
    font-size: 3vw;
    
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;

}

section.imagem{
    background-color: rgb(31, 31, 31) ;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.468);
    background-size: cover;
    background-attachment: fixed; /*Para fazer o efeito paralax*/
    
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.57);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 3px black;
    

}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center;
    
}

section#img02{
    background-image: url(imagens/background002.jpg);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;

}